.bg-primary-100 {
  background-color: var(--clr-primary-100);
}

.bg-primary-400 {
  background-color: var(--clr-primary-400);
}

.bg-primary-600 {
  background-color: var(--clr-primary-600);
}

.bg-neutral-100 {
  background-color: var(--clr-neutral-100);
}

.bg-neutral-700 {
  background-color: var(--clr-neutral-700);
}

.bg-neutral-900 {
  background-color: var(--clr-neutral-900);
}

.text-primary-100 {
  color: var(--clr-primary-100);
}

.text-primary-400 {
  color: var(--clr-primary-400);
}

.text-primary-600 {
  color: var(--clr-primary-600);
}

.text-neutral-100 {
  color: var(--clr-neutral-100);
}

.text-neutral-700 {
  color: var(--clr-neutral-700);
}

.text-neutral-900 {
  color: var(--clr-neutral-900);
}

.text-line-through {
  text-decoration: line-through;
}

.fw-regular {
  font-weight: var(--fw-regular);
}

.fw-bold {
  font-weight: var(--fw-bold);
}

.fs-body {
  font-size: var(--fs-body);
}

.ff-primary{
  font-family: var(--ff-primary);
}

.ff-heading{
  font-family: var(--ff-heading);
}

.fs-500 {
  font-size: var(--fs-500);
}

.fs-600 {
  font-size: var(--fs-600);
}

.fs-700 {
  font-size: var(--fs-700);
}

.fs-800 {
  font-size: var(--fs-800);
}

.fs-900 {
  font-size: var(--fs-900);
}
