:root {
  //Colors
  --clr-primary-100: hsl(0, 0%, 100%); // White
  --clr-primary-400: hsl(158, 36%, 37%); // Cyan
  --clr-primary-600: hsl(30, 38%, 92%); // Cream
  
  --clr-neutral-100: hsl(0, 0%, 100%); // White
  --clr-neutral-700: hsl(212, 21%, 14%); // Very Dark Blue
  --clr-neutral-900: hsl(228, 12%, 48%); // Dark Grayish Blue

  //Font Family
  --ff-primary: 'Montserrat', sans-serif;
  --ff-secondary: "Fraunces", serif;
  
  //Font Defines
  --ff-body: var(--ff-primary);
  --ff-heading: var(--ff-secondary);

  //Font Weight
  --fw-regular: 500;
  --fw-semi-bold: 700;

  //Font Size
  --fs-400: 0.875rem;
  --fs-500: 0.9375rem;
  --fs-600: 1rem;
  --fs-700: 1.25rem;
  --fs-800: 1.5rem;
  --fs-900: 2rem;

  --fs-body: var(--fs-400);
}
